fastapi
uvicorn[standard]
python-multipart
Pillow
pillow-heif
cairosvg
numpy
opencv-python-headless
rembg
onnxruntime
playwright
motor
pymongo
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
httpx
pydantic[email]
razorpay
slowapi
